In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    "Aylar":["Haziran","Temmuz","Ağustos","Haziran","Temmuz","Ağustos","Haziran","Temmuz","Ağustos"],
    "Sıcaklık":[30,34,35,28,32,34,29,35,36],
    "Şehirler":["İstanbul","İstanbul","İstanbul","Ankara","Ankara","Ankara","Antalya","Antalya","Antalya"]
})
df

     Aylar  Sıcaklık  Şehirler
0  Haziran        30  İstanbul
1   Temmuz        34  İstanbul
2  Ağustos        35  İstanbul
3  Haziran        28    Ankara
4   Temmuz        32    Ankara
5  Ağustos        34    Ankara
6  Haziran        29   Antalya
7   Temmuz        35   Antalya
8  Ağustos        36   Antalya

In [3]:
df.pivot_table(index="Aylar",columns="Şehirler",values="Sıcaklık") #pivot ile tekrar eden şehirler ve ayları düzenli bir şekilde tablolaştırdım.

Şehirler  Ankara  Antalya  İstanbul
Aylar
Ağustos     34.0     36.0      35.0
Haziran     28.0     29.0      30.0
Temmuz      32.0     35.0      34.0